In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('suicide_dataset.csv')

In [4]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [5]:
df.country

0           Albania
1           Albania
2           Albania
3           Albania
4           Albania
            ...
27815    Uzbekistan
27816    Uzbekistan
27817    Uzbekistan
27818    Uzbekistan
27819    Uzbekistan
Name: country, Length: 27820, dtype: object

In [6]:
type(df.country)

pandas.core.series.Series

In [7]:
# We will use this function to print unique countries...
df.country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [8]:
# What if we want the data of country lets suppose: Isreal ?
df.country == 'Israel'

0        False
1        False
2        False
3        False
4        False
         ...
27815    False
27816    False
27817    False
27818    False
27819    False
Name: country, Length: 27820, dtype: bool

In [9]:
type(df.country == 'Israel')

pandas.core.series.Series

In [10]:
(df.country == 'Israel').dtype

dtype('bool')

In [11]:
df[df.country == 'Israel']

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12416,Israel,1985,male,75+ years,24,66600,36.04,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12417,Israel,1985,male,55-74 years,48,249100,19.27,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12418,Israel,1985,female,75+ years,10,75500,13.25,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12419,Israel,1985,male,35-54 years,41,396400,10.34,Israel1985,0.768,"27,493,591,484",7325,Silent
12420,Israel,1985,female,55-74 years,28,290900,9.63,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
...,...,...,...,...,...,...,...,...,...,...,...,...
12783,Israel,2015,female,25-34 years,13,581972,2.23,Israel2015,NaN,"299,093,839,690",39793,Millenials
12784,Israel,2015,female,35-54 years,20,967412,2.07,Israel2015,NaN,"299,093,839,690",39793,Generation X
12785,Israel,2015,female,15-24 years,8,617440,1.30,Israel2015,NaN,"299,093,839,690",39793,Millenials
12786,Israel,2015,male,5-14 years,2,770443,0.26,Israel2015,NaN,"299,093,839,690",39793,Generation Z
12787,Israel,2015,female,5-14 years,1,733603,0.14,Israel2015,NaN,"299,093,839,690",39793,Generation Z

In [22]:
# What if just want the data of Israel of year- 2014 ?
mask1 = df.country == 'Ukraine'
mask2 = df.year == 2014
mask3 = df.year == 2015
f_df = df[mask1 & (mask2 | mask3)]  # This will give the results Of 'Israel' but of year 2014 and 2015

In [23]:
f_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
26380,Ukraine,2014,male,75+ years,608,919141,66.15,Ukraine2014,0.747,"133,503,411,376",3299,Silent
26381,Ukraine,2014,male,55-74 years,1558,3702856,42.08,Ukraine2014,0.747,"133,503,411,376",3299,Boomers
26382,Ukraine,2014,male,35-54 years,2363,5814873,40.64,Ukraine2014,0.747,"133,503,411,376",3299,Generation X
26383,Ukraine,2014,male,25-34 years,1302,3543016,36.75,Ukraine2014,0.747,"133,503,411,376",3299,Millenials
26384,Ukraine,2014,male,15-24 years,560,2541203,22.04,Ukraine2014,0.747,"133,503,411,376",3299,Millenials
26385,Ukraine,2014,female,75+ years,339,2203221,15.39,Ukraine2014,0.747,"133,503,411,376",3299,Silent
26386,Ukraine,2014,female,55-74 years,465,5487093,8.47,Ukraine2014,0.747,"133,503,411,376",3299,Boomers
26387,Ukraine,2014,female,35-54 years,423,6365806,6.64,Ukraine2014,0.747,"133,503,411,376",3299,Generation X
26388,Ukraine,2014,female,25-34 years,197,3444110,5.72,Ukraine2014,0.747,"133,503,411,376",3299,Millenials
26389,Ukraine,2014,female,15-24 years,118,2408666,4.90,Ukraine2014,0.747,"133,503,411,376",3299,Millenials
26390,Ukraine,2014,male,5-14 years,21,2074827,1.01,Ukraine2014,0.747,"133,503,411,376",3299,Generation Z
26391,Ukraine,2014,female,5-14 years,14,1959353,0.71,Ukraine2014,0.747,"133,503,411,376",3299,Generation Z
26392,Ukraine,2015,male,75+ years,669,942786,70.96,Ukraine2015,NaN,"91,030,959,455",2256,Silent
26393,Ukraine,2015,male,55-74 years,1644,3747724,43.87,Ukraine2015,NaN,"91,030,959,455",2256,Boomers
26394,Ukraine,2015,male,35-54 years,2181,5795334,37.63,Ukraine2015,NaN,"91,030,959,455",2256,Generation X
26395,Ukraine,2015,male,25-34 years,1114,3527229,31.58,Ukraine2015,NaN,"91,030,959,455",2256,Millenials
26396,Ukraine,2015,male,15-24 years,507,2408074,21.05,Ukraine2015,NaN,"91,030,959,455",2256,Millenials
26397,Ukraine,2015,female,75+ years,296,2261462,13.09,Ukraine2015,NaN,"91,030,959,455",2256,Silent
26398,Ukraine,2015,female,55-74 years,399,5508376,7.24,Ukraine2015,NaN,"91,030,959,455",2256,Boomers
26399,Ukraine,2015,female,35-54 years,427,6309963,6.77,Ukraine2015,NaN,"91,030,959,455",2256,Generation X
26400,Ukraine,2015,female,15-24 years,117,2281055,5.13,Ukraine2015,NaN,"91,030,959,455",2256,Millenials
26401,Ukraine,2015,female,25-34 years,168,3421535,4.91,Ukraine2015,NaN,"91,030,959,455",2256,Millenials
26402,Ukraine,2015,male,5-14 years,33,2131084,1.55,Ukraine2015,NaN,"91,030,959,455",2256,Generation Z
26403,Ukraine,2015,female,5-14 years,19,2010824,0.94,Ukraine2015,NaN,"91,030,959,455",2256,Generation Z

In [24]:
# what if we don't need this much columns ?
# here we will loc operator:
f_df1 = df.loc[mask1 & (mask2 | mask3), ['country', 'year', 'sex', 'age', 'suicides_no']]

In [25]:
f_df1

       country  year     sex          age  suicides_no
26380  Ukraine  2014    male    75+ years          608
26381  Ukraine  2014    male  55-74 years         1558
26382  Ukraine  2014    male  35-54 years         2363
26383  Ukraine  2014    male  25-34 years         1302
26384  Ukraine  2014    male  15-24 years          560
26385  Ukraine  2014  female    75+ years          339
26386  Ukraine  2014  female  55-74 years          465
26387  Ukraine  2014  female  35-54 years          423
26388  Ukraine  2014  female  25-34 years          197
26389  Ukraine  2014  female  15-24 years          118
26390  Ukraine  2014    male   5-14 years           21
26391  Ukraine  2014  female   5-14 years           14
26392  Ukraine  2015    male    75+ years          669
26393  Ukraine  2015    male  55-74 years         1644
26394  Ukraine  2015    male  35-54 years         2181
26395  Ukraine  2015    male  25-34 years         1114
26396  Ukraine  2015    male  15-24 years          507
26397  Ukraine  2015  female    75+ years          296
26398  Ukraine  2015  female  55-74 years          399
26399  Ukraine  2015  female  35-54 years          427
26400  Ukraine  2015  female  15-24 years          117
26401  Ukraine  2015  female  25-34 years          168
26402  Ukraine  2015    male   5-14 years           33
26403  Ukraine  2015  female   5-14 years           19

In [26]:
# Here, we see that males and females both coming our dataFrame, what if we need only male data of Israel:
# then , here we will add one more mask:
mask4 = df.sex == 'male'
f_df2 = df.loc[mask1 & mask4 & (mask2 | mask3), ['country', 'year', 'sex', 'age', 'suicides_no']]

In [27]:
f_df2

       country  year   sex          age  suicides_no
26380  Ukraine  2014  male    75+ years          608
26381  Ukraine  2014  male  55-74 years         1558
26382  Ukraine  2014  male  35-54 years         2363
26383  Ukraine  2014  male  25-34 years         1302
26384  Ukraine  2014  male  15-24 years          560
26390  Ukraine  2014  male   5-14 years           21
26392  Ukraine  2015  male    75+ years          669
26393  Ukraine  2015  male  55-74 years         1644
26394  Ukraine  2015  male  35-54 years         2181
26395  Ukraine  2015  male  25-34 years         1114
26396  Ukraine  2015  male  15-24 years          507
26402  Ukraine  2015  male   5-14 years           33

In [28]:
# Lets find the sum of all suicides in above dataFrame i.e f_df2:
# Here, 563 is the total no. of suicides happened in 2014 and 2015 by males of Israel
f_df2.sum().suicides_no

12560

In [29]:
# Lets see for females suicides data:--
mask5 = df.sex == 'female'
f_df3 = df.loc[mask1 & mask5 & (mask2 | mask3), ['country', 'year', 'sex', 'age', 'suicides_no']]
f_df3

       country  year     sex          age  suicides_no
26385  Ukraine  2014  female    75+ years          339
26386  Ukraine  2014  female  55-74 years          465
26387  Ukraine  2014  female  35-54 years          423
26388  Ukraine  2014  female  25-34 years          197
26389  Ukraine  2014  female  15-24 years          118
26391  Ukraine  2014  female   5-14 years           14
26397  Ukraine  2015  female    75+ years          296
26398  Ukraine  2015  female  55-74 years          399
26399  Ukraine  2015  female  35-54 years          427
26400  Ukraine  2015  female  15-24 years          117
26401  Ukraine  2015  female  25-34 years          168
26403  Ukraine  2015  female   5-14 years           19

In [30]:
f_df3.sum().suicides_no

2982